.btn2{
    padding: 10px 20px;
    margin-top: 30px;
    color: #03e9f4;
    background:  #0c1622;
    border-radius: 5% 5% 5% 5%;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 0%;
}

.btn2:hover {
    border-radius: 5px;
    color: #fff;
    background: #03e9f4;
    box-shadow: 0 0 5px 0 #03e9f4,
    0 0 25px 0 #03e9f4,
    0 0 50px 0 #03e9f4,
    0 0 100px 0 #03e9f4;
    transition: all 1s linear;
}

.btn2>span {
    position: absolute;
}

.btn2>span:nth-child(1) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(to left, transparent, #03e9f4);
    left: -100%;
    top: 0px;
    animation: line1 linear 15s infinite normal;
    animation-delay: 0s;
}

@keyframes line1 {
    50%{

    }
    100% {
        left: 100%;
        animation-delay: 10s;
    }
}
.btn2>span:nth-child(2) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(to left, transparent, #03e9f4);
    left: -100%;
    top: 0px;
    animation: line2 linear 10s infinite normal;
}
@keyframes line2 {
    50% {

    }
    100% {
        left: 100%;
    }
}


