.btn2{
    padding: 10px 20px;
    margin-top: 30px;
    color: #03e9f4;
    background:  #0c1622;
    border-radius: 5% 5% 5% 5%;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 0%;
}

.btn2:hover {
    border-radius: 5px;
    color: #fff;
    background: #03e9f4;
    box-shadow: 0 0 5px 0 #03e9f4,
    0 0 25px 0 #03e9f4,
    0 0 50px 0 #03e9f4,
    0 0 100px 0 #03e9f4;
    transition: all 1s linear;
}




