.login-form {
    max-width: 300px;
}
 .login-form-forgot {
    float: right;
}
 .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}
.loginpage {
    align-items: center;
    /*background-color: var(--white);*/
    background-image: url("../../public/space.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    /*place-items: center;*/
}

.sign_in {
    height:50%;
    position: absolute;
    top: 10%;
    background: whitesmoke;
    transition: all 0.6s ease-in-out;
    left: 50%;
    padding-top: 10%;
    padding-left: 5%;
    opacity: 0.95;
    width: 25%;
    z-index: 2;
    border-radius: 0 3% 3% 0;

}
.sign_in_button {
    align-items: center;
    height:50%;
    position: absolute;
    top: 10%;
    background: url("../../public/astro.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: all 0.6s ease-in-out;
    left: 49.9%;
    padding-top: 10%;
    padding-left: 5%;
    opacity: 0.8;
    width: 25%;
    z-index: 2;
    border-radius: 0 3% 3% 0;

}


.sign_up {
    height:50%;
    position: absolute;
    top: 10%;
    background: whitesmoke;
    transition: all 0.6s ease-in-out;
    left: 20%;
    padding-top: 10%;
    padding-left: 5%;
    opacity: 0.95;
    width: 25%;
    z-index: 1;
    border-radius: 3% 0 0 3%;
}

.sign_up_button {
    height:50%;
    position: absolute;
    top: 10%;
    background: url("../../public/astro.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: all 0.6s ease-in-out;
    left: 20.1%;
    padding-top: 10%;
    padding-left: 5%;
    opacity: 0.8;
    width: 25%;
    z-index: 1;
    border-radius: 3% 0 0 3%;
}



button {
    background: transparent;
    border: 0;
    outline: none;
}

.btn {
    padding: 10px 20px;
    margin-top: 30px;
    color: #03e9f4;
    background:  #0c1622;
    border-radius: 5% 5% 5% 5%;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 35%;
}

.btn:hover {
    border-radius: 5px;
    color: #fff;
    background: #03e9f4;
    box-shadow: 0 0 5px 0 #03e9f4,
    0 0 25px 0 #03e9f4,
    0 0 50px 0 #03e9f4,
    0 0 100px 0 #03e9f4;
    transition: all 1s linear;
}